*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
header{
    min-width:1620px;
    height: 80px;
    background-color: rgb(15, 202, 165);
    position:fixed;
    z-index: 1;
}
h1{
    padding:20px 0 0 40px; 
}
h2{
    padding:10px 0 10px 20px;
}
.container{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    gap: 20px;
    width:100vw;
    overflow: auto;
    min-height: 90vh;
    background-color:rgb(32, 245, 202) ;
    padding:90px 20px 20px 20px;
}
.board{
    min-width: 300px;
    max-width: 400px;
    height: 450px;
    background-color: rgb(218, 216, 206);
    border-radius: 10px;
    /* display: flex; */
    flex-direction: column;
    align-items:center;
    gap: 15px;
    overflow-y: scroll;
}
.mes1{
    margin: 0 auto;
    width: 90%;
    height:130px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
}
 img{
    width: 12px;
}
.image{
    transform: translateY(40px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 15px;
}
.img-wavy img{
    width: 18px;
}



